---
import LogoFooter from '../assets/icons/logofooter-beige.svg';
---

<footer class="relative bg-orange font-barlow px-6 py-20 text-center text-white">

  <p class="mx-auto max-w-md text-xl font-semibold leading-snug">
    Entre ciel et terre,
    <span class="block text-yellow">
      vivez l’expérience Flying Tap Fest.
    </span>
  </p>

  <ul class="mt-10 space-y-2 text-base font-bold">
    <li><a href="/">Accueil</a></li>
    <li><a href="/festival">Le festival</a></li>
    <li><a href="/programme">Programme</a></li>
    <li><a href="/artiste">Artistes</a></li>
    <li><a href="/scene">Scènes</a></li>
    <li><a href="/infos">Infos pratiques</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/mentions-legales">Mentions légales</a></li>
  </ul>

  <div class="mt-10 flex justify-center">
    <LogoFooter class="h-52 w-52" />
  </div>

  <div class="mt-4 flex justify-center gap-10 text-xs font-semibold tracking-widest uppercase">
    <a href="#">Instagram</a>
    <a href="#">FaceBook</a>
    <a href="mailto:contact@flyingtapfest.fr">email</a>
  </div>

  <div class="mt-12 space-y-0 text-xs">
    <p class="font-semibold mb-2">contact@flyingtapfest.fr</p>
    <p>Montbéliard, France</p>
    <p>Site du Flying Tap Fest</p>
  </div>

  <p class="mt-6 text-xs">
    © 2026 Flying Tap Fest
  </p>

</footer>