---
import "../styles/global.css";
import '@fontsource/barlow';
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/600.css";
import "@fontsource/barlow/700.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
const siteName = "Flying Tap Fest";
const titleHead = Astro.url.pathname === "/" ? siteName : `${title} — ${siteName}`;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../../public/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../public/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>{titleHead}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-beige text-blue font-barlow">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <button 
    id="scrollTop"
    class="fixed bottom-6 right-6 h-14 w-14 items-center justify-center rounded-full bg-blue text-white shadow-lg opacity-0 pointer-events-none transition-opacity duration-300"
    >
      ↑
    </button>
  </body>
</html>

<script>
  const btn = document.getElementById("scrollTop");

  if (btn) {
    window.addEventListener("scroll", () => {
      if (window.scrollY > 400) {
        btn.classList.remove("opacity-0", "pointer-events-none");
        btn.classList.add("opacity-100", "flex");
      } else {
        btn.classList.add("opacity-0", "pointer-events-none");
        btn.classList.remove("opacity-100");
      }
    });

    btn.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    });
  }
</script>